@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
   html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
   blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
   ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
   dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
   tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
   figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    display: block;
  }

  /* Force scrollbar */
  html { overflow-y: scroll; }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
    cursor: pointer;
  }

  strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
  }

  em { font-style: italic; }

  img {
    border: 0;
    vertical-align: middle;
  }

  sub,
  sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

 .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ======= Your styling goes below ======= */

.container { font-family: sans-serif; }
.upper { text-transform: uppercase; }
.cap { text-transform: capitalize; }
a{text-decoration: none;}
ul{list-style-type: none;}

.wrapper {
  max-width: 1078px;
  width: 83.82%;
  margin: 0 auto;
}
/* header style starts here */
header { background-color: #363636; }

header .wrapper {
  padding: 37px 0 29px;
  display: flex;
  justify-content: space-between;
}

h1 a {
  width: 100%;
  display: inline-block;
  text-indent: -9999px;
}

h1 a img{
  width: 100%;
  float: left;
}


nav {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.hamburger,
.sub-menu { 
  display: none; 
}

.hamburger { width: 30px; }
.hamburger span {
  width: 100%;
  height: 3px;
  margin-top: 3px;
  display: block;
  z-index: 10;
  background-color: black;
  text-indent: -9999px;
  cursor: pointer;
}

nav ul {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}


nav ul a {
  color: #fff;
  border-bottom: 1px solid transparent;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}


nav ul a:hover {
  border-bottom: 1px solid #fff;
  transition: .5s;
}
/* header style ends here */
/* banner style starts here */
.banner { 
  background-image: url('../images/intro-bg.jpg'); 
  background-position: center center;
  background-size: 105% 101%;
  background-repeat: no-repeat;
}

.banner .wrapper {
  padding: 23.5% 0 14.8%;
  text-align: center;
}

.banner h2 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  text-transform: uppercase;

}


.banner span {
  margin-top: 24px;
  display: inline-block;
  width: 50%;
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}


.banner a {
  width: 12%;
  padding: 16px;
  margin: 0 auto;
  margin-top: 47px;
  border-radius: 3px;
  box-shadow: .5px .5px #fff;
  display: block;
  background-color: #69ad31;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.banner a:hover { 
  background-color: #fff; 
  color: #69ad31;
  transition: .5s;
  
}

/* banner style ends here */

/* style for about section starts here*/
.about .wrapper {
  max-width: 1085px;
  width: 84.37%;
  padding: 8.8% 0 8.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.welcome-landscaper { 
  width: 52%; 
  margin-right: 10px;
}

.about .wrapper h3 {
  color: #000;
  font-size: 35px;
  text-transform: capitalize;
}


.about .wrapper h3 span{ color:  #69ad31;}

.about .wrapper h3::after {
  content: '';
  width: 12.5%;
  height: 3px;
  margin-top: 19px; 
  display: block;
  background-color: #69ad31;
}

.welcome-landscaper p {
  color: #716e74;
  font-size: 14px;
  line-height: 26px;
}

.welcome-landscaper p:first-of-type { margin-top: 44px; }
.welcome-landscaper p:last-of-type { margin-top: 20px; }

.welcome-landscaper a {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  margin-top: 47px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #69ad31;
  color: #fff;
  letter-spacing: 1px;
}

.welcome-landscaper a:hover {
  background-color: #fff; 
  border: 1px solid #69ad31;
  color: #69ad31;
  transition: .5s;
}

.care { width: 50%; }

.landscaper-care {
  display: flex;
  justify-content: space-between;

}

.landscaper-care li {
  width: 46.3%;
}

.landscaper-care li  img{ width: 100%; }

.landscaper-care li h4 {
  margin-top: 22px;
  color: #000;
  font-size: 25px;
  text-transform: capitalize;
}

.landscaper-care li p {
  margin-top: 20px;
  color: #716e74;
  font-size: 14px;
  line-height: 26px;
}
/* style for about section ends here */
/* our services section style starts here  */
.services { background-color: #69ad31; }

.services .wrapper {  
  padding: 10.4% 0 11.6%;
  
}

.services h2 {
  color: #fff;
  font-size: 35px;
  text-transform: capitalize;
  text-align: center;
}

.services h2:after  {
  content: '';
  width: 8%;
  height: 3px;
  margin: 0 auto;
  margin-top: 19px; 
  display: block;
  background-color: #ffff;
}

.services span {
  display: block;
  color: #fff;
  margin-top: 25px;
  text-align: center;
}

.services-list {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

.services-list figure {
  width: 80%;
  margin: 0 auto;
  border: 9px solid rgba(255,255,255,.2);
  border-radius: 150px;
  overflow: hidden;
}

.services-list li {
  width: 20%;
  text-align: center; 
}


.services-list li h4 {
  margin-top: 25px;
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
}


.services-list li p {
  margin-top: 25px;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
}

.services-list figure img { width: 100%; }
/* our service section style ends here */
/* project style starts here */

.project h2 {
  color: #000;
  font-size: 35px;
  text-transform: capitalize;
  text-align: center;
}

.project .wrapper {
  max-width: 1085px;
  width: 84.37%;
  padding: 8.8% 0 8.5%;
  margin: 0 auto;
}

.project h2:after  {
  content: '';
  width: 6.2%;
  height: 3px;
  margin: 0 auto;
  margin-top: 19px; 
  display: block;
  background-color: #69ad31;
}



.project span {
  display: block;
  color: rgba(0,0,0,.6);
  margin-top: 25px;
  text-align: center;
}


.gallery-tab {
  margin-top: 58px;
  display: flex;
  justify-content: center;
}

.gallery-tab li {
  margin-right: 25px;
  border-radius: 5px;
  background-color: #e5e5e5;
}


.gallery-tab li a {
  padding: 11px 16px;
  display: inline-block;
  color: rgba(0, 0, 0, .7);
  text-transform: uppercase;
}


.gallery-tab li:hover {
  border-radius: 5px;
  background-color:  #69ad31;
  color: #fff;
  transition: .5s;
}

.gallery-tab li:hover a { color: #fff; }

.all-gallery {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.all-gallery li { width: 31.6%; }
.all-gallery li img { width: 100%; }

.all-gallery li:nth-child(n+4):nth-child(-n+9){ margin-top: 27px; }

/* project style ends here */

/* testimonials style starts here */
.testimonials {
  background-image: url('../images/testimonials-bg.jpg');
  background-size: 100% 160%;
  background-position: center center; 
} 

.testimonials .overlay { background-color: rgba(97,156,42,.8); }

.testimonials .wrapper { 
  padding: 8.8% 0 9%;
  color: #fff;
  text-align: center; 
}

.testimonials h2 {
  font-size: 35px;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 2px;
}

.testimonials h2:after  {
  content: '';
  width: 6.2%;
  height: 3px;
  margin: 0 auto;
  margin-top: 19px; 
  display: block;
  background-color: #fff;
}

.testimonials-list {
  flex-basis: 100%;
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
}

.testimonials-list li {
  flex-basis: 100%;
}

.testimonials-list li p {
  width: 80%;
  margin: 0 auto;
  line-height: 30px;
}

.testimonials-list li:nth-child(n+2):nth-child(-n+4){ display: none; }

.testimonials-list li > span {
  margin-top: 16px;
  display: inline-block;
}

.dots {
  margin-top: 29px;
  display: flex;
  justify-content: center;

}


.dots li {
  margin-right: 15px;
}

.dots li:first-of-type  span{ background-color: #fff; }

.dots li span {
  width: 11px;
  height: 11px;
  border-radius: 25px;
  display: inline-block;
  background-color: rgba(255,255,255,.5);
  text-indent: -9999px;
  cursor: pointer;
}

.dots li span:hover { background-color: #fff; }

/* testimonials style ends here */
/* contact style starts here */

.contact { background-color: #f6f6f6; }

.contact h2 {
  font-size: 35px;
  text-align: center;
  text-transform: capitalize;
}

.contact h2:after  {
  content: '';
  width: 6.2%;
  height: 3px;
  margin: 0 auto;
  margin-top: 19px; 
  display: block;
  background-color: #69ad31;
}


.contact .wrapper > span {
  margin-top: 24px;
  display: block;
  color: rgba(0,0,0,.5);
  text-align: center;
}


.contact-details {
  width: 80%;
  margin: 0 auto;
  margin-top: 81px;
  display: flex;
  justify-content: space-between;
}


.contact .wrapper {
  padding: 5% 0 6%; 
}

.contact-details li { 
  width: 25%;
  text-align: center; 
}

.contact-details h5 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}



.contact-details h5:after {
  content: ' ';
  width: 30.2%;
  height: 3px;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  background-color: rgba(0,0,0,.2);
}

.contact-details li > a {
  margin-top: 20px;
  display: inline-block;
  color: rgba(0,0,0,.6);
  font-size: 15px;
  text-transform: capitalize;
}

address { line-height: 28px; }

.contact-details li > a > span { line-height: 28px; }

.contact-details li:last-of-type  a:last-of-type { margin-top: 5px; }

.contact-details li:nth-child(n+1):nth-child(-n+2) a { margin-top: 15px; }


.message { margin-top: 90px; }

.message  h5 { 
  font-size: 20px;
  font-weight: 700;
  text-align: center; 
  text-transform: uppercase;
}


form { 
  width: 60%;
  margin: 0 auto;
  margin-top: 35px; }


  .user-details {
    display: flex;
    justify-content: space-between;
  }


  .user-details input {
    width: 45%;
    padding: 5px 10px;
    font-size: 16px;
    text-transform: capitalize;
  }

  textarea {
    width: 98%;
    padding: 6px;
    margin-top: 15px;
    text-transform: capitalize;
    resize: vertical;
  }


  button {
    padding: 15px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 8px;
    display: block;
    background-color:  #69ad31;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  button:hover { 
    background-color: #fff; 
    color: #69ad31;
    transition: .5s;
  }
  /* contact style ends here */
  /* footer style starts here */

  footer { background-color: #363636; }

  footer .wrapper {
    padding: 3% 0 2.3%;
  }

  .social-media-sites {
    display: flex;
    justify-content: center;
  }


  .social-media-sites li {
    width: 26px;
    padding: 7px;
    text-align: center;
    background-color: #464646;
    margin-right: 15px;
    border-radius: 50px;
    cursor: pointer;
  }

  .social-media-sites li a {
    display: inline-block;
    color:  #69ad31;
    font-size: 20px;
    text-indent: -9999px;
  }


  .social-media-sites li:hover a:after {
    color: #fff;
    transition: .6s;
  }

  .social-media-sites li:nth-child(1) a:after {
    content: '\f39e';
    float: left;
    text-indent: 0;
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
  }


  .social-media-sites li:nth-child(2) a:after {
    content: '\f099';
    float: left;
    text-indent: 0;
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
  }

  .social-media-sites li:nth-child(3) a:after {
    content: '\f0d5';
    float: left;
    text-indent: 0;
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
  }

  footer .wrapper > span {
    margin-top: 49px;
    display: block;
    color: #7f7f7f;
    text-align: center;
  }

  /* footer style ends here */
  /* media query for 1024 starts here */
  @media screen and (max-width: 1024px) {
    .hamburger { display: block; }

    nav ul { display: none; }
    nav { flex-basis: 0%; }
    nav:hover ul {
      display: block;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, .6);
      animation: slide .6s linear;


    }


    nav:hover ul li {
      padding: 10px;
      display: block;
      text-align: center;
    }


    nav:hover .first-ham { 
      transform: translateY(5px) rotate(45deg); 
      transition: .2s;
    }
    nav:hover .second-ham { opacity: 0; }
    nav:hover .third-ham { 
      margin-top: -4px;
      transform: rotate(-45deg);
      transition: .2s; 
    }

    @keyframes slide {
      from {
        transform: translateX(1000px);
      }
      to {
        transform: translateY(0);
      }
    }


  .banner a { width: 14%; }


/* media query for 1024 ends here */
/* media query for 900 starts her */
@media screen and (max-width: 900px) {
  .banner h2 { font-size: 50px; }
  .banner span { width: 75%; }
  .banner a { width: 18%; }
  .services-list, 
  .contact-details,
  .user-details 
  { flex-wrap: wrap; }
  
  .services-list li,
  .contact-details li,
   .user-details input { 
    width: 100%; 
    margin-top: 25px;
  }

  .services-list li figure { width: 31%; }

/* media query for 900 ends here */
/* media query for 768 starts here */
@media screen and (max-width: 768px) {
  nav ul li a:hover { border: 1px solid transparent; } 
  .banner h2 { font-size: 31px; }
  .banner span { width: 100%; }
  .banner a { width: 26%; }

  .banner a:hover {
    background-color: #69ad31;
    color: #fff;
    transition: 0;
  }

  .about .wrapper { flex-wrap: wrap; }
  .about .wrapper div { width: 100% }
  .about .wrapper div:last-of-type { margin-top: 25px; }
  .gallery-tab {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  
  .gallery-tab li { 
    width: 43%;
    margin-top: 15px;
    margin-right: 0; 
    text-align: center;
  }

  .welcome-landscaper a:hover {
    background-color: #69ad31;
    border: 1px solid transparent;
    color: #fff;
    transition: .5s;
  }

  .dots li span:hover { background-color: rgba(255,255,255,.5); }

  button:hover {
    background-color: #69ad31;
    color: #fff;
    transition: 0s;
  }  

  .gallery-tab li:hover {
    border-radius: 5px;
    background-color:  #e5e5e5;
    color: #69ad31;
    transition: 0s;
  }

  .gallery-tab li:hover a { color: rgba(0, 0, 0, .7); }
  .social-media-sites li:hover a:after { color: #69ad31; }
}


/* media query for 768 ends here */
/* media query for 480 starts here */
@media screen and (max-width: 420px) {
  .banner h2 { font-size: 21px; }

  .banner a {
    width: 46%;
    padding: 11px;
    font-size: 14px;
  }

  .banner span { font-size: 16px; }
  .about .wrapper h3 { font-size: 25px; }
  .welcome-landscaper a { font-size: 15px; }
  .landscaper-care {flex-wrap: wrap;}

  .landscaper-care li { 
    width: 100%; 
    margin-top: 25px;
  }

  .gallery-tab li { width: 100%; }
  .all-gallery { flex-wrap: wrap; }

  .all-gallery li { 
    width: 100%; 
    margin-top: 25px;
  }

  .testimonials-list { margin-top: 39px; }

  .testimonials-list li p { 
    width: 100%;
    line-height: 21px;
  }

  button { font-size: 12px; }
}


/* media query for 480 ends here */